.phoneContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  padding: 3em 1.7em;
  background-color: #f2f0e4;
}

.phoneContainer h1 {
  font-size: 1.35em;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 3px;
  color: var(--textColor);
}

.phoneContainer p {
  font-size: 0.78em;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  max-width: 270px;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2px;
  margin-bottom: 2px;
}

.phoneContainer p span {
  font-weight: 600;
}

.backBtn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.backBtn img {
  width: 20px;
}

.noteContainer {
  border-radius: 1em;
  background-color: #fff;
  box-shadow: 0px 0px 5px #cccccc;
}

.noteContainer h3 {
  font-size: 1em;
  font-weight: 500;
  color: #000000;
  width: 100%;
  margin: auto;
  margin-bottom: 0.3em;
}

.noteContainer p {
  font-size: 0.825;
  font-weight: 500;
  line-height: 1.3;
  margin: auto;
}

.noteContainer .action_btn {
  position: relative;
}

.noteContainer .action_btn a {
  display: inline-block;
  width: 50%;
  text-decoration: none;
  padding: 0.5em;
  border-top: 1px solid #cccccc;
  color: var(--btnBgColor);
}

.noteContainer .action_btn a:hover {
  color: rgb(240, 61, 54);
}

.noteContainer .action_btn > a:first-child {
  border-right: 1px solid #cccccc;
}

.noteContainer .hand_icon {
  position: absolute;
  bottom: -90px;
  right: 70px;
  width: 80px;
}
